<div class="apod" *ngIf="apod">
	<div class="date">
		<div *ngIf="enableDatePicker; else displayDate">
			<input [(ngModel)]="apod.date" type="date" (change)="dateChangeFN()">	
		</div>
		<ng-template #displayDate>
			<span>{{apod.date}}</span>
		</ng-template>
	</div>

	<div #media class="media">
		<img [src]="apod.url" *ngIf="apod.mediaType === 'image'; else displayIFrame"
			[alt]="defaultMsg" style="max-width:100%" (load)="mediaLoaded()" (click)="mediaClicked()">
		<ng-template #displayIFrame>
			<iframe [src]="safeResourceURL" *ngIf="apod.url" width="1280px" height="720px" (load)="mediaLoaded()" (click)="mediaClicked()"></iframe>
		</ng-template>
	</div>
	<div class="copyright" *ngIf="apod.copyright"><span>copyright: {{apod.copyright}}</span></div>
	<div class="explanation" #explanation *ngIf="apod.explanation"><span>{{apod.explanation}}</span></div>
</div>


